name: 'PR source branch validation Check'

on:
  pull_request_target:
    branches:
      - master
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review
jobs:
  verify_branch:
    if: github.base_ref == 'master' && github.head_ref != 'release'
    runs-on: ubuntu-latest
    steps:
      - name: Exit if branch condtion fails
        run: |
          echo "ERROR: You can only merge to master from release."
          exit 1
